@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);

.wp-golfcp {
    box-sizing: border-box;
    background-color: #f8f8f8;
    padding: 10px;
}
.wp-golfcp fieldset {
    border: 5px solid #EAE7E7;
    margin: 0 0 1.75em;
    min-width: inherit;
    padding: 0.875em;
}
.wp-golfcp button,
.wp-golfcp input,
.wp-golfcp select,
.wp-golfcp textarea {
	color: #1a1a1a;
	font-family: Merriweather, Georgia, serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

.wp-golfcp fieldset label {
    width: 20%;
    float: left;
    line-height: 40px;
    margin-left: 10px;
}

.wp-golfcp fieldset input,
.wp-golfcp fieldset select {
    width: 25%;
    float: left;
    margin: 5px 0px;
    padding: 5px 0;
    font-size: 18px;
}

.widget .wp-golfcp label {
    width: 60%;
    float: left;
    line-height: 40px;
    margin: 0;
}

.widget .wp-golfcp input,
.widget .wp-golfcp select {
    width: 40%;
    float: left;
    margin: 5px 0px;
    padding: 5px 0;
}
.golfcp-results {
    display: inline-table;
}
.golfcp-result {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
}

.widget .golfcp-result {
    width: 100%;
    margin: 5px 0;
}

.widget .golfcp-result label {
	width: 40%;
	float: left;
	margin: 0;
}

.widget .golfcp-result input {
	width: 60%;
	float: left;
	margin: 0;
}

@media screen and (max-width: 960px) {
	.wp-golfcp label {
		width: 100%;
	}

	.wp-golfcp input,
	.wp-golfcp select {
		width: 100%;
	}
}